/* @media only screen and(max-width: 1024px){
    .more_info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
} */
@media only screen and (max-width: 1024px){
    header{
        border-radius: 18px 18px 0px 0px;
    }
    /* .my_img{
        display: none;
    } */
    .info_for_me {
        margin-top:0px;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header_satisfied{
        margin-top: 60px;
        margin-right:0px;
        align-items: center;
    }
    .social{
        margin-top: 15px;
    }
    .more_for_me p{
        text-align: center;
    }
    .more_info{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .more_for_me{
        align-items: center;
    }
    .slideshow_conteiner{
        margin-top: 15px;
    }
    .contact_section{
        height: auto;
    }
    .contact_info{
        flex-direction: column;
    }
    .contact_icon {
        justify-content: center;
        margin-bottom: 25px;
    }
    .my_knowledge{
        display: none;
    }
    .satisfied_line{
        align-items: center;
    }
}
@media (max-width: 991.98px){

}


@media (max-width: 767.98px){
    .my_img{
            display: none;
    }
        .service_grid{
            grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 575.98px){
.header_head{
    display: none;
}
.service_grid{
    display: flex;
    flex-direction: column;
}
}