/* @media only screen and(max-width: 1024px){
    .more_info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
} */
@media only screen and (max-width: 1024px){
    header{
        border-radius: 18px 18px 0px 0px;
    }
    /* .my_img{
        display: none;
    } */
    .info-for-me {
        margin-top:0px;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header-satisfied{
        margin-top: 60px;
        margin-right:0px;
        align-items: center;
    }
    .social{
        margin-top: 15px;
    }
    .more-for-me p{
        text-align: center;
    }
    .more-info{
        margin-top: 35px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .more-for-me{
        align-items: center;
    }
    .slideshow-conteiner{
        margin-top: 15px;
    }
    .contact-section{
        height: auto;
    }
    .contact-info{
        flex-direction: column;
    }
    .contact-icon {
        justify-content: center;
        margin-bottom: 25px;
    }
    .my-knowledge{
        display: none;
    }
    .satisfied-line{
        align-items: center;
    }
}
@media (max-width: 990){
    .recommend-div{
        flex-direction: column-reverse;
    }
    .recommendation-container{
        flex-direction: column;
    }
    .dot-recommend-span{
        flex-direction:row;
    }
    .dot-recommend{
        margin:20px;
    }
}


@media (max-width: 770px){
    .my-img{
            display: none;
    }
        .service-grid{
            grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 580px){
.header-head{
    display: none;
}
.service-grid{
    display: flex;
    flex-direction: column;
    padding-top:44px;
    padding-bottom: 44px;
}
.latest-section{
    margin-top: 44px;
}
.latest-name .articles-name{
    font-size: 44px;
    text-align: center;
}
.side-grid{
    display: inline;
}
.side-nav{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin: 0;
    height: auto;
}
.side-list{
    font-size: 10px;
    flex-direction: row;
}
}