* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
body{
    overflow-y: auto;
}
header{
    background-color: #DDDDDD;
}
.dflex{
    display: flex;
}
.max_header{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.header_head{
    justify-content: space-between;
}
.header_logo_firs h6{
    color: #B3B3B3;
    font-size: 13px;
    font-family: Montserrat-Regular;
}
.header_logo{
    margin-top: 48px;
    margin-left: 52px;
    align-items: flex-end;
}
.header_logo h3{
    color: #1A1A1A;
    font-size: 40px;
    font-family: Poppins-ExtraBold;
}
.header_logo i{
    color: #0081FF;
    font-size: 33px;
    font-family: Poppins-ExtraBold;
}
.header_logo_last{
    position: relative;
    align-items: center;
    margin-right: 81.68px;
    margin-top:25px;
}
.header_logo_last h2{
    color: #222;
    font-weight: bolder;
    font-size: 125px;
    text-align: center;
    opacity: 20%;
    cursor: default;
}
.header_logo_last span{
    color: #222;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: color 0.25s, background-color 0.25s, border-radius;
}
.header_logo_last span:hover{
    color: #E93656;
}
.info_for_me{
    margin:139px auto 0px auto;
    justify-content: center;

}
.my_img{
    max-width: 400px;
    margin-right: 25px;
    border-radius: 35px;
}
.i_am h3{
    color: #212121;
    font-size: 49.7px;
    font-family: GlacialIndifference-Regular;
}
.i_am h2{
    color: #212121;
    font-size: 71px;
    font-family: GlacialIndifference-Bold;
}
.i_am span{
    color: #212121;
    font-size: 23.29px;
    font-family: GlacialIndifference-Regular;
}
.social{
    margin-top: 15px;
    justify-content: space-evenly;
    align-items: center;

}
.social_icon{
    width: 36px;
    height:36px;
}
.header_satisfied{
    margin-top: 182px;
    margin-right: 97px;
    flex-direction: column;
    align-items: flex-end;
}
.header_satisfied i{
    color: #E93656;
    font-size: 24px;
    font-family: Montserrat-Bold;
}
.header_satisfied h6{
    color: #212121;
    font-size: 24px;
    font-family: Montserrat-Bold;
}
.satisfied_line{
    flex-direction: column;
    margin-bottom: 47px;
}
.line_red{
    width: 340px;
    height: 6px;
    border-radius: 15px;
    background-color: #E93656;
}
.more_info{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 135px;
}
.more_for_me{
    margin-top: 83px;
    max-width: 334px;
    flex-direction: column;
    align-items: flex-end;
}
.more_for_me h3{
    color: #222222;
    font-size: 40px;
    font-family: GlacialIndifference-Bold;
}
.more_for_me h5{
    margin-top: 6px;
    color: #DAAE19;
    font-size: 14px;
    font-family: Muli;
}
.more_for_me p{
    margin-top: 33px;
    text-align: right;
    color: #555555;
    font-size: 15px;
    font-family: Muli-Regular;
}
.more_for_me button{
    width: 152px;
    height: 50px;
    margin-top: 60px;
    background-color: #E93656;
    color: #FFFFFF;
    font-size: 15px;
    font-family: GlacialIndifference-Bold;
    border-radius: 12px;
    transition: opacity 0.2s, coursor 0.25s;
}
.more_for_me button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.slideshow_conteiner{
    max-width: 430px;
    height: 603px;
    background-color: #555555;
    margin-left: 71px;
    margin-right: 69px;
}
.slideshow_conteiner img{
    width: 100%;
    height: 100%;
}
.my_knowledge{
    margin-top: 59px;
}
.my_knowledge h3{
    color: #555555;
    font-size: 20px;
    font-family: GlacialIndifference-Bold;
    margin-bottom: 20px;
}
.my_knowledge i{
    color: #E93656;
}
.my_knowledge div{
    width: 300px;
    height: 10px;
    background-color: #F0F0F0;
}
.myslides_photo{
    width: 100%;
    display: none;
}
.slideshow_dot span{
    margin-top: 50px;
    color: #6B6B6B;
    font-size: 14.6px;
    font-family: FontAwesome;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s, ease;
}
.active, .dot:hover{
    background-color: #15263E;
  }
.img_change{
    width: 100%;
    height: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.contact_section{
    margin-top: 100px;
    height: 210px;
    background-color: #131A36;
}
.contact_info{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 60px ;
}
.contact_icon{
    align-items: center;
}
.contact_icon span{
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    border: 2px dashed #FFFFFF;
    border-radius: 50%;
    transition: background-color 0.25s, border-color;
}
.contact_icon span:hover{
    cursor: pointer;
    border-color: #E93656;
    background-color: #E93656;
}
.contact_icon h4{
    color: #FFFFFF;
    font-size: 25px;
    font-family: GlacialIndifference-Bold;
}
.contact_icon h6{
    color: #DFDFDF;
    font-size: 14px;
    font-family: Muli;
    margin-top:10px;
}
.contact_icon div{
    margin-left: 30px;
}
.service_box{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.service_grid{
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 160px;
    /* padding-left: 365px;
    padding-right: 380px; */
    background-color: white;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
    justify-content: center;
}
.box{
    /* width: 285px; */
    height: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: #FAFAFA;
    background-size: contain;
    position: relative;
    transition: opacity 0.2s, ease;
}
.box:hover {
    background-color: #15263E; 
}
.box p{
    color: #ECECEC;
    font-size: 15px;
    font-family: Muli-Light;
    text-align: center;
    opacity: 0;
    position: absolute;
}
.box:hover div{
    display: none;
}
.box:hover p{
    opacity: 1;
}
.box img{
    width: 100px;
}
.box h4{
    color: #222222;
    font-size: 22px;
    font-family: GlacialIndifference-Bold;
}
.recommendation_background{
    height: 570px;
    background-image:url(../img/background_png.png);
    background-color: #131A36;
    background-position: center;
}
.recommendation_container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding-top:210px;
}
.recommend-slideshow{
    position: relative;
    justify-content: space-between;
}
.myrecommendation{
    display: none;
}
.recommend_div{
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.recommend_div img{
    max-width: 140px;
    height: 140px;
    padding: 15px;
    border: 2px dashed #FFFFFF; 
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 30px;
}
.dot-recommend{
    width: 13px;
    height: 13px;
    margin-top: 50px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    opacity: 1;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s, ease;
}
.active, .dot:hover{
    background-color: #15263E;
}
.myrecommendation  {
    animation-name: the_review;
    animation-duration: 1.5s;
}
  
@keyframes the_review {
    from {opacity: .4}
    to {opacity: 1}
}
.riviewp{
    width: 370px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: Roboto-Light;
    text-align: center;
}
.riview_name{
    text-align: center;
    width: 170px;
    color: #FFFFFF;
    font-size: 28px;
}
.dot-recommend_span{
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 24px;
}
.latest_section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top:144px;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
.latest_name{
    color: #2E2E2E;
    font-size: 70px;
    font-family: GlacialIndifference-Bold;
}
.side_grid{
    margin-top: 55px;
    display: grid;
    grid-template-columns: 230px auto;
    height: auto;
}
.side_nav{
    margin-right: 15px;
    height:400px;
    background-color:#15263E;
}
.side-list{
    flex-direction: column;
    color: #FFFFFF;
    font-size: 20px;
    font-family: GlacialIndifference-Bold;
    margin-top: 50px;
    text-align: center;
}
.li_list{
    margin-bottom: 15px;
}
.latest_grid{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.p-element{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    background-color: #FAFAFA;
    position: relative;
    transition: transition all 3s linear;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.p-element img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    display: block;
}
.p-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
}
.p-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #FAFAFA;
    font-size: 23px;
    font-family: GlacialIndifference-Bold;
    text-align: center;
}
.p-element:hover img{
    transform:scale(1.5)
}
.p-element:hover .p-overlay{
    opacity: 0.8;
}